apiVersion: apps/v1
kind: Deployment
metadata:
  name: hms-frontend
  labels:
    app: hms-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hms-frontend
  template:
    metadata:
      labels:
        app: hms-frontend
    spec:
      containers:
        - name: hms-frontend
          image: neelapupoojitha16/hms-frontend:latest
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"
